* {
    user-select: none;
}

html {
    overflow: hidden;
}

textarea {
    user-select: auto;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow: hidden;

    font-family: "Nunito", "Roboto", "Noto Sans", "Open Sans", "Segoe UI", sans-serif;

    --color-dark:   hsl(0, 0%, 20%);
    --color-light:  hsl(0, 0%, 80%);

    /* --color-cyan:   hsl(170, 25%, 50%); */
    --color-mur:    hsl(200, 100%, 15%);

    --color-red:    hsl(  0, 70%, 25%);
    --color-orange: hsl( 30, 70%, 25%);
    --color-yellow: hsl( 50, 70%, 25%);
    --color-green:  hsl( 90, 70%, 25%);
    --color-cyan:   hsl(170, 70%, 25%);
    --color-blue:   hsl(200, 70%, 25%);
    --color-purple: hsl(290, 70%, 25%);

    --color-green-bright:  hsl( 90, 70%, 35%);

    --radius: 5px;
    --radius-round: 999px;

    --header-height: 2.25em;
    --height-minus-header: calc(100% - var(--header-height));
}

.hidden {
    display: none !important;
}

.panel-spacer {
    width: 1em;
}

.font-thin {
    font-weight: 300;
}

.panel-button {
    background-color: #ddd;
    /* min-width: 5em; */
    height: 100%;
    transition: 0.05s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 8px 4px rgba(0,0,0,0.2);
    padding: 0 1em;
    margin: 0 0.25em;

    margin-top: 0.1em;
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
}

.push-button {
    /* background-color: #ddd; */
    background: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.1));
    transition: 0.05s;
    text-align: center;
    box-shadow: 0 0 var(--radius) rgba(0,0,0,0.1);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5em;
    margin: 0.5em;
    z-index: unset;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: var(--radius);

    /* font-weight: 300; */
}

.button-vertical {
    flex-direction: column;
}

.button-text:nth-child(2):not(:empty) {
    padding-left: 0.3em;
    margin-top: -0.2em;
}

.push-button .caption {
    font-size: 14px;
}

.button-text {
    /* font-size: 1.25em; */
/*     font-family: 'Roboto Condensed'; */
}

.push-button .icon + .caption,
.push-button .button-icon + .caption {
    padding-left: 0.25em !important;
}

.push-button.disabled,
.panel-button.disabled {
    opacity: 30% !important;
    pointer-events: none !important;
}

.panel-button:active {
/*     box-shadow: 0 0 20px rgba(0,0,0,0.5); */
    background-color: rgba(255,255,255, 0.3) !important;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

.push-button:active {
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.2)) !important;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

.panel-logo {
    height: 100%;
    font-weight: bold;
    padding: 0 1em;
    margin: 0 0.25em;
    opacity: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo:not(.active) {
    box-shadow: none !important;
    background: none !important;
}

.logo {
    padding-left: 1.25em;
    transition: 0.25s;
}

.logo.active {
    background-color: #112655 !important;
}

.logo.active img {
    /* filter: contrast(0) brightness(100); */
}

.logo img {
    height: 20px;
    object-fit: cover;
    vertical-align: middle;
    /* filter: drop-shadow(0 0 2px white); */
}

.panel-button.active {
    /* font-weight: bold; */
    background-color: #AAA;
}

.panel-feedback {
    height: 100%;
    transition: 0.05s;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding: 0 1em;
    margin: 0 0.25em;
    margin-top: 0.1em;
}

.panel-feedback:not(.active) .icon {
    animation: none !important;
}

.panel-feedback:not(.active) {
    display: none;
}

.text-center {
    text-align: center;
}

.monospace {
    font-family: monospace;
    font-size: 14px;
}

#connDevicesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.list-wrapper {
    height: 100%;
    overflow: auto;
    width: 100%;
    /* max-width: 700px; */
    margin: auto;
    /* box-shadow: inset 0 0 10px rgba(0,0,0,0.25); */
    /* padding: 0.5em; */
    /* border-radius: 5px; */
    /* display: flex; */
    /* flex-direction: column; */
}


/* .list-mark-start:after,
.list-mark-end:after  {
    position: absolute;
    width: 100%;
    height: 2em;
    content: '';
    z-index: 50;
}

.list-mark-start:after {
    margin-top: 0;
    background: linear-gradient(to bottom, white, transparent);
}

.list-mark-end:after {
    margin-top: -2em;
    background: linear-gradient(to bottom, transparent, white);
} */

.list-mark-start:after,
.list-mark-end:after  {
    position: absolute;
    width: 100%;
    height: 2em;
    content: '';
    z-index: 50;
    pointer-events: none;
}

.list-mark-start:after {
    margin-top: 0;
    background: linear-gradient(to bottom, white, transparent);
}

.list-mark-end:after {
    margin-top: -2em;
    background: linear-gradient(to bottom, transparent, white);
}

.width-fill {
    width: 100%;
}

#devices-welcome {
    text-align: center;
    padding: 2em;
    font-size: 16px;
    /* font-family: Roboto !important; */
    /* font-weight: 300; */
}

.device-item,
.list-item {
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: var(--radius);
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}

.device-item {
    width: 42%;
    min-width: 16em;
    margin: 0.5em 0;
}

.device-tag:last-child {
    padding-right: 0.75em;
}

#projects-list .list-item {
    /* gap: 0.5em; */
}

.device-title,
.list-item-title {
    padding-left: 0.25em;
    flex-grow: 1;
    overflow: hidden;
}

.device-title {
    text-align: center;
    line-height: 1;
}

.list-item-title {
    /* font-weight: 300; */
    font-size: 18px;
}

.list-item .icon {
    min-width: 1.25em;
}

.dateRelative {
    /* width: 25%; */
    /* min-width: fit-content; */
    padding: 0 0.5em;
    text-align: right;
    font-weight: 300;
    max-width: 40%;
}

.dateAbsolute {
    min-width: 6em;
    font-weight: 300;
}

.icon-button {
    /* margin: 0 0.25em; */
    /* flex-grow: 0.1; */
}

@media (max-width: 450px) {
    .device-title div {
        font-size: 12px !important;
    }

    .push-button .caption {
        font-size: 11px !important;
    }

    .dateRelative,
    .descriptionSecondary {
        display: none;
    }

    .header-titlebar {
        display: none !important;
    }

    .global-dialog {
        padding: 0.25em 0.75em !important;
        min-width: 18em !important;
    }


/*
    .icon.medium {
        width: 1em !important;
        height: 1em !important;
    } */
}

@media (max-width: 640px) {
    .dateRelative,
    .dateAbsolute,
    .descriptionMain,
    .descriptionSecondary {
        font-size: 12px !important;
    }
}

.container {
    height: 100%;
    width: calc(100% - 1em);
    /* max-width: calc(700px - 2em); */
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.vertical-filler {
    flex-grow: 1;
/*     height: 100%; */
}


.device-title div {
    display: inline-block;
}

.device-item.active,
.list-item.active {
    background-color: rgba(50,255,50,0.15);
}

.device-item:active,
.list-item:active {
    background-color: rgba(0,0,0,0.15);
    box-shadow: inset 0 0 7px rgba(0,0,0,0.35);
}

.device-item.inactive,
.list-item.inactive {
    opacity: 25%;
    pointer-events: none;
}

.device-item .text {
    vertical-align: middle;
    margin-right: 0.25em;
}

.device-tag {
    display: inline-block;
    margin: 0 0.25em;
    padding: 0 0.25em;
    width: 1em;
    /* height: 1em; */
    /* background-color: rgba(100,255,255,0.1); */
    /* border: 1px solid rgba(0,0,0,0.1); */
    border-radius: var(--radius-round);
    vertical-align: middle;
}

.device-tag:first-child {
    margin-right: 0.75em;
}

.device-tag-online,
.device-tag-offline {
    display: inline-block;
    margin: 0 0.5em;
    /* margin-right: 1em; */
    min-width: 1em;
    height: 1em;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: var(--radius-round);
}

.device-tag-online {
    background-color: rgba(50,255,50,0.25);
}

.device-tag-offline {
    background-color: rgba(100,100,100,0.1);
}

.panel-button .icon {
    top: -0.1em;
}

.icon {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    /* top: -0.1em; */
    width: 1.75em;
    height: 1.5em;
    background-color: var(--color-dark);
    /* background-color: var(--color-blue); */
    mask-size: contain !important;
    -webkit-mask-size: contain !important;
}

.icon.small {
    width: 1em;
    height: 1em;
    top: -0.1em;
}

.icon.mini {
    width: 1.5em;
    height: 1.25em;
}

.icon.medium {
    width: 1.75em;
    height: 1.5em;
}

.icon.big {
    width: 2em;
    height: 2.25em;
}

.icon.dark {
    background-color: var(--color-dark) !important;
}

.icon.cyan {
    background-color: var(--color-cyan) !important;
}

.icon.red {
    background-color: var(--color-red) !important;
}

.icon.orange {
    background-color: var(--color-orange) !important;
}

.icon.yellow {
    background-color: var(--color-yellow) !important;
}

.icon.green {
    background-color: var(--color-green) !important;
}

.icon.green-bright {
    background-color: var(--color-green-bright) !important;
}

.float-rigth {
    float: right;
}

.bold {
    font-weight: bold !important;
}

.text-tiny {
    font-size: 11px;
}

.text-small {
    font-size: 13px;
}

.opacity-0 {
    opacity: 0% !important;
}

.opacity-25 {
    opacity: 25% !important;
}

.opacity-50 {
    opacity: 50% !important;
}

.opacity-75 {
    opacity: 75% !important;
}

.opacity-100 {
    opacity: 100% !important;
}

.capitalize {
    text-transform: capitalize;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

article div {
    width: 100%;
}

article h1,
article h2,
article p {
    font-weight: 300;
    text-align: center;
}

article h1 {
    font-size: 22px;
}

article h2 {
    font-size: 16px;
}

.about-splash {
    max-width: 6cm;
}

#head div {
    /* float: left; */
/*     padding: 0.5em; */
/*     margin: 0.5em; */
    font-size: 10px;
}

#app {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#head {
    width: 100%;
    height: var(--header-height);

    display: flex;
    align-items: end;
    /* justify-content: space-between; */
    justify-content: start;

    overflow-x: auto;
    overflow-y: hidden;

    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

#main-panel-wrapper {
    flex-grow: 1;

    position: relative;
    width: 100vw;
    /* height: 100%; */

    display: flex;
    justify-content: center;

    background-color: white;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
}

.row {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    /* gap: 0.5em; */
    /* margin: 0.5em; */
    margin: 0.5em 0;
}

.row > .push-button {
    flex-grow: 1;
    margin: 0;
    width: 100%;
}

.row > .push-button {
    /* Flexbox gap isn't supported on old / target Chromium versions! */
    margin: 0 0.25em;
}

.row > .push-button:first-child {
    margin-left: 0!important;
}

.row > .push-button:last-child {
    margin-right: 0 !important;
}

.buttons-collapsed .push-button{
    width: fit-content;
    flex-grow: 0;
}

.buttons-collapsed {
    justify-content: center !important;
}

.justify-content-center {
    justify-content: center;
}



.panel {
    position: fixed;

    /* margin-top: 0.5em; */
    /* width: calc(100% - 2em); */
    height: var(--height-minus-header);

    opacity: 0;
    z-index: -1;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    margin: 0 !important;
    width: 100%;
    /* height: 100%; */
}

/* .panel.fluid {
    margin: 0 !important;
    width: 100%;
    height: 100%;
} */

.panel.active {
    opacity: 100%;
    z-index: 10;
}

.panel.fluid.active {
    display: block;
}

.panel-header {

}

.panel-header h1 {
    margin: 0.5em 0;
    font-weight: 300;
}

.buttons-group {
    height: 100%;
    display: flex;
}

#buttons-blockly {
    width: 100%;
    justify-content: flex-end;
    /* flex-direction: row-reverse; */
}

#telemetryText {
    font-family: monospace;
    white-space: pre;
    overflow: auto;
    max-height: 100%;
}

.nipple-wrapper {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 30%;
}

/* ---- Blockly ---- */

#blocklyDiv {
    /* height: 100%; */
    /* box-shadow: 0 0 18px rgba(0, 0, 0, 0.25); */

    width: 100%;
    /* height: calc(100% - 2.25em); */
    height: var(--height-minus-header);
    position: fixed; /* Important! Best render performance when "fixed" */
    bottom: 0;
    z-index: 999;
}

/* Blocks MDI icons */
#blocklyDiv g image[*|href^="/mdi"]
{
    height: 34px;
    /* pointer-events: none; */
}

/* Mutator plus icon */
/* TODO? */
#blocklyDiv g g:nth-of-type(1) image[*|href^="data:image/svg+xml;"] {
    width: 19px;
    height: 19px;
}

#blocklyDiv g text {
    pointer-events: none;
}

/* .blocklyWsDragSurface {
    will-change: transform !important;
} */

/* path.blocklyPath { */
    /* translate: 20px 20px 29px; */
    /* transform: translateZ(0); */
    /* will-change: transform !important; */

    /* -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden  !important;
    perspective: 1000  !important;
    transform: translate3d(0,0,0) !important;
    transform: translateZ(0) !important; */
/* } */




#blocklyDiv.pretty .blocklyToolboxDiv {
    padding-left: 0.35em;
    box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.5);
    /* background-color: rgba(230, 230, 230, 0.85); */
}

#blocklyDiv.pretty .blocklyToolboxContents {
    flex-wrap: nowrap !important;
}

#blocklyDiv.pretty .blocklyToolboxContents .blocklyTreeRow {
    /* padding-bottom: 0.35em; */
    margin-bottom: 0em;
}

.blocklyTreeLabel {
    cursor: pointer;
/*     font: 20px sans-serif !important; */
}

/* TODO: remove ".pretty" class? */

/* #blocklyDiv text { */
    /* font-family: "Noto Sans" !important; */
/* } */

#blocklyDiv.pretty .custom_renderer-renderer .blocklyEditableText > text,
#blocklyDiv.pretty .custom_renderer-renderer .blocklyNonEditableText > text {
    fill: #fff !important;
}

#blocklyDiv.pretty .custom_renderer-renderer .blocklyEditableText > rect,
#blocklyDiv.pretty .custom_renderer-renderer .blocklyNonEditableText > rect {
    fill: #000;
    fill-opacity: 0.2;
}

.blocklyPath {
    stroke-width: 2px;
    /* stroke-linejoin: round; */
    /* stroke: white !important; */
    stroke-opacity: 1.0;
}

.blocklyEditableText text,
.blocklyNonEditableText text {
    /* font-weight: bold !important; */
    /* font-size: 14px !important; */
    /* left: 20px !important; */
}

.blocklyMenuItem {
    min-width: auto !important;
    border-radius: var(--radius);
}

.blocklyMenu:not(.blocklyContextMenu) .blocklyMenuItemContent {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}

.blocklyMenuItemContent img {
    outline: solid 2px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.2);
}

.blocklyMenuItemSelected {
    border: 3px solid rgba(0,0,0,0.25);
}

.blocklyMenuItemSelected .blocklyMenuItemCheckbox {
    background: url('/mdi/check-bold.svg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 16px;
    height: 16px;
}

.fieldGridDropDownContainer.blocklyMenu .blocklyMenuItem {
    border: none !important;
    border-radius: var(--radius);
    color: white;
    padding-left: 0 !important;
}

.fieldGridDropDownContainer.blocklyMenu .blocklyMenuItem {
    padding: 1em !important;
}

/* .blocklyMenuItemContent {
    color: white;
} */

.fieldGridDropDownContainer .blocklyMenuItem.blocklyMenuItemSelected {
    /*     outline: solid 2px rgba(0,0,0,0.5); */
    /*     background: rgba(0,0,0,0.35); */
}

.fieldGridDropDownContainer.blocklyMenu .blocklyMenuItem {
    padding: 0.5em !important;
    padding-bottom: 0.25em !important;
}

.blocklyColourTable>tr>td {
    width: 42px;
    height: 42px;
    border: 2.5px solid rgba(0,0,0,0.24);
    border-radius: var(--radius);
    margin: 0.2em;
}

.blocklyColourSelected {
    outline-width: 3px;
}

.blocklyMainWorkspaceScrollbar {
    opacity: 50%;
}

.blocklyScrollbarHandle {
    fill: black;
    fill-opacity: 0.15;
    transition: fill-opacity 0.1s;
}

.blocklyScrollbarBackground:hover+.blocklyScrollbarHandle,
.blocklyScrollbarHandle:hover {
    fill: black;
    fill-opacity: 0.25;

}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.anim-spin {
    animation: spin 4s linear infinite;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.fieldSliderContainer {
    width: 350px !important;
}

.fieldSliderContainer::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    top: 0em;
    left: 50%;
    height: 0.3em;
    margin: auto;
    border-radius: --radius-round;
    border-left: 1px solid rgba(255,255,255,0.5);
}

@keyframes pulse {
    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }
}

.pulse {
    animation: 1s linear 0s infinite alternate pulse;
}

.pulse-once {
    animation: 1s linear 0s 1 alternate pulse;
}

.loading-wrapper {
    /* display: none; */
    width: 100%;
    transition: 1s;
    height: 100%;
    z-index: 99;
    position: fixed;
    /* opacity: 50%; */
    opacity: 0%;

    background: white;
    /* background: repeating-linear-gradient(
        45deg,
        rgba(255,255,255,0.6)    0px,
        rgba(255,255,255,0.6)   10px,
        rgba(255,255,255,0.5)    10px,
        rgba(255,255,255,0.5)    20px
    ); */

    pointer-events: none;
}

.variables-div {
    opacity: 70%;
    pointer-events: none;
    font-size: 16px;
    font-family: monospace;
    white-space: pre;
    height: 100%;
    width: 100%;
}

.loading-wrapper.active {
    /* display: block; */
    pointer-events: all;

    opacity: 50%;
}

.zdog-canvas {
    /* background: #444; */
    cursor: move;
    /* filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.15)); */
}

.blocklyAngleCircle {
    stroke: #654;
    stroke-width: 4;
    fill: #ddd;
    fill-opacity: .8;
}

.blocklyAngleMarks {
    stroke: #654;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.blocklyAngleGauge {
    fill: #f88;
    fill-opacity: .5;
    pointer-events: none;
}

.blocklyAngleLine {
    stroke: #f00;
    stroke-width: 2;
    stroke-linecap: round;
    pointer-events: none;
}

#flying-panel-wrapper {
    position: fixed;
    bottom: 0em;
    left: 0;
    width: 100%;
    height: 25%;
    z-index: 999;
    /* transition: transform 0.1s; */
}

#bottom-panel-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* padding: 1em; */

    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

#bottom-panel-wrapper .panel {
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    margin: 0;
    padding: 1em;
    overflow: auto;
}

#flying-panel-wrapper .buttons-group {
    flex-direction: row;
    position: absolute;
    left: 1em;
    top: -2.5em;
    z-index: -20;
}

#flying-panel-wrapper .panel-button {
    margin: 0.25em 0.15em;
    width: 0.5em;
    height: 2.5em;
    /* box-shadow: -5px 0px 10px rgba(0,0,0,0.5);
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    z-index: -99;
    opacity: 70%;
}

#flying-panel-wrapper .panel-button .icon {
    font-size: 12px;
}

.bottom-collapsed {
    transform: translate(0, calc(100% + 0em));
    /* opacity: 30%; */
}

.bottom-collapsed .panel-button {
    opacity: 30% !important;
}

#console-welcome {
    font-family: monospace !important;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    opacity: 50%;
}

.blockly-collapsed {
    transform-origin: 50% 0%;
    transform: scale(0.735);
    top: 2.5em;
    height: 100%;
    position: fixed;
/*     border: 1px solid red; */
}

.blocklyMainBackground {
    stroke-width: 0;
    /* stroke: #c6c6c6; */
}

.background-white {
    background: white !important;
}

.round-top {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.round-bottom {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.header-titlebar {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    flex-grow: 1;
    text-align: right;
}

.header-titlebar-caption {
    padding: 0 1em;
    /* font-weight: 300; */
    font-size: 1rem !important;
}



/* ----------------------------------------- */

#head {
    background: none;
    width: calc(100% - 7px);
}

#app {
    /* background: linear-gradient(45deg, hsl(200, 100%, 10%), hsl(200, 35%, 45%)); */
    background:
        linear-gradient(to bottom, transparent,  white),
        linear-gradient(to right, hsl(200, 100%, 10%), hsl(200, 35%, 45%));
}

#app.with-statusbar-spacer {
    --statusbar-height: 2em;
    --header-height: calc(2.25em + var(--statusbar-height)) !important;
    --height-minus-header: calc(100% - var(--header-height)) !important;
}

#app.with-statusbar-spacer #head {
    margin-top: var(--statusbar-height);
    height: calc(var(--header-height) - var(--statusbar-height)) !important;
}

.panel-button {
    background: rgba(255,255,255,0.5);
}


.panel-button.active {
    background: rgba(255,255,255,0.75);
}

.logo img {
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 var(--radius) rgba(255,255,255,0.5));
    opacity: 90%;
}

.logo.active {
    background: rgba(255,255,255,0.75) !important;
}

#main-panel-wrapper {
    /* background: linear-gradient(45deg, hsl(200, 20%, 85%), hsl(200, 20%, 100%)); */
    background: linear-gradient(45deg, hsl(200, 10%, 90%), hsl(200, 25%, 95%));
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

#blocklyDiv .injectionDiv,
.blocklyToolboxDiv {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.panel, main-panel-wrapper {
    background: none;
}

.list-mark-start,
.list-mark-end{
    display: none !important;
}

.soft-edges {
    -webkit-mask-image: linear-gradient(
        transparent calc(0% + 0.1em),
        black calc(0% + 2em),
        black calc(100% - 2em),
        transparent calc(100% - 0.1em)
    );
    padding: 1em 0;
}

.panel-button .icon {
    background-color: hsl(200, 100%, 10%) !important;
    opacity: 80%
}

.panel-button.active .icon {
    background-color: black;
    opacity: 80%;
}

.header-titlebar {
    color: white;
}

.blocklySvg {
    /* background: none; */
}

#blocklyDiv.pretty .blocklyToolboxDiv {
    /* background: linear-gradient(90deg, hsla(200, 20%, 85%, 0.85), hsla(200, 20%, 100%, 0.85)); */
    background: rgba(221, 221, 221, 0.8);
    z-index: 55;
}

.blocklyTreeLabel {
    font-family: "Roboto";
}


.blocklyTreeRow {
    border-radius: 5px;
    padding-left: 5px !important;
    border-width: 5px !important;
}


.blocklyTreeRow:before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    height: calc(100% - 10px);
    margin-left: -10px;
    width: 5px;
    border-left: inherit;
    border-radius: 5px;
    transform: scale(-1, 1);
}

.blocklyDropDownDiv {
    border-radius: var(--radius);
}

.blocklyToolboxCategory:last-child {
    padding-right: 10px !important;
}

.blocklyFlyout {
    box-shadow: 0 0px 15px rgb(0 0 0 / 25%);
    background: rgba(221, 221, 221, 0.8);

    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.blocklyFlyoutBackground {
    fill-opacity: 0;
}

.blocklyTreeLabel {
    font-family: 'Nunito' !important;
    font-weight: 500 !important;
}

.blocklyMenuItemContent {
    font-family: 'Nunito', 'Roboto' !important;
    font-weight: 800 !important;
}


#global-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0.0;
    transition: opacity 0.1s;
    pointer-events: none;
}

#global-wrapper:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.95;
    pointer-events: none;
    z-index: -10;

    background:
        linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(255,255,255,0.5)),
        linear-gradient(to right, hsl(200, 100%, 10%), hsl(200, 35%, 45%));
}

#global-wrapper.active {
    opacity: 1.0;
    pointer-events: all;
}

#global-wrapper-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.global-dialog {
    background: rgba(255,255,255,0.65);
    padding: 1em 2em;
    border-radius: var(--radius);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    min-width: 22em;
    max-width: 75vw;

    /* min-height: 25vh; */
    max-height: 80vh;

    display: flex;
    flex-direction: column;

    animation: soft-appear 0.5s;
    animation-iteration-count: 1;
}

.global-dialog h1 {
    margin-bottom: 0;
    margin-top: 0.5em;
    /* width: calc(100% - 1.75em); */
}

.global-dialog .push-button {
    font-weight: bold;
}

@keyframes soft-appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.global-dialog-close {
    text-align: right;
/*     border: 1px solid red; */
    /* position: absolute; */
    height: 0;
/*     display: none; */
}

.global-dialog-close span {
    position: absolute;
    margin-top: 1.0em;
    margin-left: -1.5em;
}

#head div {
    padding: 0 3px;
}

#head {
    width: 100%;
    -webkit-mask-image: linear-gradient(
        to right,
        transparent calc(0%),
        black calc(  0% + 5px),
        black calc(100% - 5px),
        transparent calc(100%)
    );
}