body {
    margin: 0;
    padding: 0;
}

#head button,
#head div {
    float: left;
    padding: 0.5em;
    margin: 0.5em;
}

.panel {
    height: 100%;
    display: none;
    margin: 0.5em;
    padding: 0;
}

.panel.fluid {
    margin: 0 !important;
}

.panel.active {
    display: block;
}

.buttons-group button {
    height: 3em;
}

#telemetryText {
    font-family: monospace;
    white-space: pre;
}

.nipple-wrapper {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
}