body {
    margin: 0;
    padding: 0;
}

#head button,
#head div {
    float: left;
    padding: 0.5em;
    margin: 0.5em;
}

.panel {
    height: 100%;
    display: none;
    padding: 0.5em;
}

.panel.fluid {
    padding: 0 !important;
}

.panel.active {
    display: block;
}

.buttons-group button {
    height: 3em;
}