body {

  --font-ui: "Nunito", "Roboto", "Noto Sans", "Open Sans", "Segoe UI", sans-serif;

  font-family: var(--font-ui);

  --color-dark:   hsl(0, 0%, 20%);
  --color-light:  hsl(0, 0%, 80%);
  --color-white:  hsl(0, 0%, 100%);

  --color-green-bright:   hsl( 90,  70%, 35%);
  --color-yellow-bright:  hsl( 60,  50%, 75%);
  --color-orange-bright:  hsl( 30,  50%, 75%);
  --color-red-bright:     hsl(  0,  50%, 75%);
  --color-blue-dark:      hsl(200, 100%, 10%);
  --color-mur:            hsl(200, 100%, 15%);

  --color-red:    hsl(  0, 70%, 20%);
  --color-orange: hsl( 30, 70%, 20%);
  --color-yellow: hsl( 60, 70%, 20%);
  --color-green:  hsl( 90, 70%, 20%);
  --color-cyan:   hsl(170, 70%, 20%);
  --color-blue:   hsl(200, 70%, 20%);
  --color-purple: hsl(290, 70%, 20%);

  --radius: 5px;
  --radius-round: 999px;

  --header-height: 2.5em;
  --height-minus-header: calc(100% - var(--header-height));
}