.hidden {
  display: none !important;
}

.font-thin {
  font-weight: 300;
}

.monospace {
  font-family: monospace !important;
  font-size: 14px;
}

.monospace-all * {
  font-family: monospace !important;
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.width-fill {
  width: 100%;
}

.display-flex {
  display: flex;
}

.vertical-filler {
  flex-grow: 1;
}

.float-rigth {
  float: right;
}

.bold {
  font-weight: bold !important;
}

.text-tiny {
  font-size: 11px;
}

.text-small {
  font-size: 13px;
}

.opacity-0 {
  opacity: 0% !important;
}

.opacity-25 {
  opacity: 25% !important;
}

.opacity-50 {
  opacity: 50% !important;
}

.opacity-75 {
  opacity: 75% !important;
}

.opacity-85 {
  opacity: 85% !important;
}

.opacity-100 {
  opacity: 100% !important;
}

.capitalize {
  text-transform: capitalize;
}

.soft-edges-vertical {
  -webkit-mask-image: linear-gradient(
      transparent calc(0% + 0.1em),
      black calc(0% + 2em),
      black calc(100% - 2em),
      transparent calc(100% - 0.1em)
  );
  padding: 1em 0;
}

.background-white {
  background: white !important;
}

.round-top {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.round-bottom {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.justify-content-center {
  justify-content: center;
}

.margin-auto {
  margin: auto !important;
}

.margin-top-zero {
  margin-top: 0 !important;
}

.margin-bottom-zero {
  margin-bottom: 0 !important;
}

.margin-bottom {
  margin-bottom: 1.5em !important;
}

.margin-zero {
  margin: 0 !important;
}

.fit-center {
  width: fit-content;
  margin: 0 auto;
}

.tag-warning {
  background: var(--color-red);
  color: white;
  padding: 0.25em;
  font-weight: bold;
  margin-top: 0.5em;
}