<?xml version='1.0' encoding='utf-8'?>
<widget id="org.robocenter.gamemurlite" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ElementaryAUV</name>
    <description>Companion app for ElementaryAUV underwater vehicle</description>
    <author email="support@murproject.com" href="https://murproject.com">
        ООО "Центр робототехники"
    </author>

    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <access origin="*" />
    <allow-navigation href="*"/>

    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="Fullscreen" value="true" />

    <preference name="Orientation" value="portrait" />
    <icon src="../src/assets/icon.png" platform="android" width="512" height="512" density="mdpi" />

    <splash src="../src/assets/splash.png" density="land-hdpi" />
    <splash src="../src/assets/splash.png" density="land-ldpi" />
    <splash src="../src/assets/splash.png" density="land-mdpi" />
    <splash src="../src/assets/splash.png" density="land-xhdpi" />
    <splash src="../src/assets/splash.png" density="land-xxhdpi" />
    <splash src="../src/assets/splash.png" density="land-xxxhdpi" />
    <splash src="../src/assets/splash.png" density="port-hdpi" />
    <splash src="../src/assets/splash.png" density="port-ldpi" />
    <splash src="../src/assets/splash.png" density="port-mdpi" />
    <splash src="../src/assets/splash.png" density="port-xhdpi" />
    <splash src="../src/assets/splash.png" density="port-xxhdpi" />
    <splash src="../src/assets/splash.png" density="port-xxxhdpi" />

    <platform name="android">
        <config-file parent="/manifest" target="AndroidManifest.xml" xmlns:android="http://schemas.android.com/apk/res/android">
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
        </config-file>

        <!-- <config-file parent="application/activity" target="AndroidManifest.xml" xmlns:android="http://schemas.android.com/apk/res/android">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.elauv-proj" />
                <data android:host="*" />
            </intent-filter>
        </config-file> -->
    </platform>

</widget>
