#main-panel-wrapper {
  flex-grow: 1;

  position: relative;
  width: 100vw;

  display: flex;
  justify-content: center;

  background: linear-gradient(45deg, hsl(200, 10%, 90%), hsl(200, 25%, 95%));
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
}

.panel {
  position: fixed;
  height: var(--height-minus-header);

  background: none;
  opacity: 0;
  z-index: -1;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  margin: 0 !important;
  width: 100%;
}

.panel.active {
  opacity: 100%;
  z-index: 10;
}

.panel.fluid.active {
  display: block;
}

.panel-header h1 {
  margin: 0.5em 0;
  font-weight: 300;
}

.buttons-group {
  height: 100%;
  display: flex;
}

.loading-wrapper {
  width: 100%;
  transition: 1s;
  height: 100%;
  z-index: 99;
  position: fixed;
  opacity: 0%;
  background: white;
  pointer-events: none;
}

.loading-wrapper.active {
  pointer-events: all;
  opacity: 50%;
}

#flying-panel-wrapper {
  position: fixed;
  bottom: 0em;
  left: 0;
  width: 100%;
  height: 25%;
  z-index: 999;
}

#bottom-panel-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

#bottom-panel-wrapper .panel {
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  margin: 0;
  padding: 1em;
  overflow: auto;
}

#flying-panel-wrapper .buttons-group {
  flex-direction: row;
  position: absolute;
  left: 1em;
  top: -2.75em;
  z-index: -20;
}

#flying-panel-wrapper .panel-button {
  margin: 0.25em 0.15em;
  padding: 0 0.5em;
  width: 1.5em;
  height: 2.5em;
  z-index: -99;
  opacity: 70%;
}


.bottom-collapsed {
  transform: translate(0, calc(100% + 0em));
}

.bottom-collapsed .panel-button {
  opacity: 30% !important;
}

.header-titlebar {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  flex-grow: 1;
  text-align: right;
  color: white;
}

.header-titlebar-caption {
  padding: 0 1em;
  font-size: 1rem !important;
}

.panel-button.active .icon {
  background-color: black;
  opacity: 80%;
}

.logo:not(.active) {
  box-shadow: none !important;
  background: none !important;
}

.logo {
  padding-left: 1.25em;
  transition: 0.25s;
}

.logo.active {
  background-color: #112655 !important;
}

.logo img {
  height: 20px;
  object-fit: cover;
  vertical-align: middle;
  filter: drop-shadow(0 0 1px white) drop-shadow(0 0 var(--radius) rgba(255,255,255,0.5));
  opacity: 90%;
}

.logo.active {
  background: rgba(255,255,255,0.75) !important;
}

/* specific rules for some panels */

.about-splash {
  max-width: 6cm;
}

#telemetryText {
  font-family: monospace;
  white-space: pre;
  overflow: auto;
  max-height: 100%;
}

.telemetry-table td:last-child {
  text-align: right;
}

.nipple-wrapper {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 30%;
}

#devices-welcome {
  /* padding-top: 1em; */
  /* font-size: 16px; */
}

#devices-welcome .icon {
  margin-top: -0.25em;
  margin-left: -2em;
}

#devices-welcome p {
  margin-left: 2.25em;
}

/* background pulse feedback */


@keyframes background-pulse {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

#feedback-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background: transparent;
  opacity: 0;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.background-pulse {
  animation: 1s ease 0s 1 background-pulse;
}

.background-soft-green {
  background: linear-gradient(
    to right,
    hsla( 90, 70%, 80%),
    hsla( 90, 70%, 90%),
    hsla( 90, 70%, 80%)
  ) !important;
}

.background-soft-yellow {
  background: linear-gradient(
    to right,
    hsla( 50, 70%, 80%),
    hsla( 50, 70%, 90%),
    hsla( 50, 70%, 80%)
  ) !important;
}

.telemetry-table h3 {
  margin-bottom: 0.25em !important;
}

.tag-dark,
.tag-light {
  display: inline-block;
  width: 5em;
  text-align: center;
  font-size: 14px;
}

.tag-dark {
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: var(--color-dark);
  color: var(--color-light);
}

.tag-light {
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: var(--color-white);
  color: var(--color-dark);
}

.telemetry-table td {
  font-size: 16px !important;
  margin-bottom: 0.25em !important;
}

.telemetry-table h1 {
  font-size: 20px;
  margin-bottom: 0.25em;
}

